body {
    color: white;
}
th {
    color: white;
}
.jumbotron {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 5% !important;
    background-color: blue !important;
}
h2 {
    font-size: 48px;
    font-weight: bolder;
    color: white;
    }
h3 {
    color: white;
}
h4 {
    font-size: 16px;
    background-color: blue;
    color: white;
    width: 100%;
    padding: .5% 1%;
    margin: 2% 0 0 0;
}
button {
    background-color: blue !important;
    color: white !important;
}
form, table {
    margin: 0% 0%;
    padding: 1%;
    border: 1px solid blue;
}
#train-scheduler {
    margin: 0% 0%;
    padding: 1%;
    border: 1px solid blue;
}